  <div class="col-sm-6 blog-main">
           
          <%= paginate @blogs %>   
          
          <% @blogs.each do |blog|%>
          <%= render  'blog' ,  blog: blog  %>
          <% end %>
          
          <%= paginate @blogs %> 


        </div>




