  <div class="col-sm-6 blog-main">

            <%= render partial: 'blog2' , locals: { blogs: @blogs } %>
          
          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>

        </div><!-- /.blog-main -->




