<div class="col-sm-6 blog-main">
  <h2><%= @blog.title %></h2>

  <%= link_to "Edit this blog", edit_blog_path(@blog) if logged_in?(:site_admin) %> |
  <%= link_to "Back to blogs", blogs_path %>

  <p><%= @blog.body %></p>
</div>
