<div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          

          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
             <%# Below you need to change %>
             <li><a href="#"><i class='bx bxl-github'></i>Github</a></li>
             <li><a href="#"><i class='bx bxl-instagram'></i>Instagram</a></li>
             <li><a href="#"><i class='bx bxl-facebook'></i>Facebook</a></li>
             <li><a href="#"><i class='bx bxl-twitter'></i>Twitter</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
