<footer class="text-muted py-5">
    <div class="container flex-row text-center ">
      <p class="mb-1">
         <a href="#">Back to top</a>
      </p>
      <p class="mb-0">
        <%= @copyright %> 
      </p>
    </div>
</footer>
